#heading {
    font-size: 50px;
    font-weight: 900;
    text-align: center;
    padding: 30px;
}

#container {
    background-color: white;
    height: 960px;
    width: 960px;
    margin: auto;
}

.row {
    display: flex;
}

.col {
    border: 1px solid black;
    flex: 1;
}